@model List<Mascota>
@using MvcNetCoreSession.Helpers
@{
    Mascota mascota = Context.Session.GetObject<Mascota>("MASCOTAOBJECT");
}

<h1>Ejemplos Session</h1>

@if(Model != null){
    <h3>Mascotas recuperadas: @Model.Count</h3>
}else{
    <h3>No tenemos mascotas en el helper</h3>
}

<h2>@Context.Session.GetString("nombre")</h2>

<h2>@Context.Session.GetString("hora")</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionSimple">Session Simple</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascota">Session Binary</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionCollection">Session Collection</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaJson">Session Mascota Json</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaObject">Session Mascota Object</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaCollection">Session Mascota Collection</a>
    </li>
</ul>

@if(mascota != null){
<ul class="list-group mt-3">
    <li class="list-group-item">
        @mascota.Nombre
    </li>
    <li class="list-group-item">
        @mascota.Raza
    </li>
    <li class="list-group-item">
        @mascota.Edad
    </li>
</ul>
}
